LLM_PROVIDER=mock
LLM_API_BASE=https://llmapi.paratera.com
LLM_API_KEY=sk-qFtEZWWyBuOOvN1Bl95WVg
LLM_MOCK_MODE=true

PLANNER_USE_LLM=false
DRAWER_USE_LLM=false
DRAWER_FALLBACK_TO_RULE=false

PLANNER_MODEL=planner-model
DRAWER_MODEL=drawer-model

LLM_TIMEOUT_SECONDS=45
LLM_MAX_RETRIES=2
